@import "../../common/styles/sass/mixins";

.column {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin: 15px 0;

  position: relative;
  width: 100%;
  padding: 0 15px;
  text-align: left;
  @include text();
  @media screen and (max-width: 992px) {
    max-width: 100%;
    flex: 100%;
    flex-wrap: nowrap;
  }

  .contactForm {
    border-radius: 5px;
    background: #ffffff;
    padding: 1% 5% 5% 5%;
    box-shadow: 0 3px 10px 0 rgba(38, 59, 94, 0.1);
    display: block;

    .title {
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      color: #090a0c;
      margin-bottom: 20px;
    }

    .rowForm {
      display: flex;
      flex-wrap: wrap;
      margin:0 -15px;
      margin-top: 0;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 10em white inset;
        -webkit-text-fill-color: #555a64;
      }

      .formGroup {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        padding: 0 15px;
        display: block;
        text-align: left;
        flex: 0 0 50%;
        max-width: 50%;
        @media screen and (max-width: 1129px) {
          flex: 100%;
          max-width: 100%;
        }
        .error{
          color: red;
        }
      }

      .formGroup3 {
        max-width: 100%;
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        padding:0 15px;
        .mBtn {
          background: #d9832e;
          color: #ffffff;
          cursor: pointer;
          display: inline-block;
          border: 2px solid transparent;
          line-height: inherit;
          border-radius: 0;
          width: auto;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          transition: ease-in-out all 0.55s;
          text-align: center;

          &:hover {
            background-color: #090a0c;
          }
        }
      }
    }
  }
}