.header{
    background-color: #ffffff;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    flex-wrap: nowrap;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-right: 200px;
    @media screen and (max-width: 700px) {
        justify-content: center;
        padding-left: 180px;
    }

}