@import "../common/styles/sass/mixins";
.header{
    @include flex(center, row, flex-end, nowrap);
    background-color: #ffffff;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-right: 200px;
    @media screen and (max-width: 700px) {
        justify-content: center;
        padding-left: 180px;
    }
}