.contacts {
    height: 100vh;
    background-color: aquamarine;
}

.container {
    height: 100%;
    width: 80%;
    border: 1px solid;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form {
    width: 270px;
    height: 170px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.afa {
    height: 110px;
}

.button {
    margin-top: 30px;
    background-color: white;
    width: 70px;
}

.title{
    background-color: aqua;
    font-size: 23px;
}

