@import "../common/styles/sass/mixins";

.contacts {
  min-height: 100vh;
  padding: 0 0 100px 0;
  background-color: #eaedf2;
  display: block;
  @include text();

  .container {
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    @include flex(center, row, center, wrap);

    .row {
      margin-right: -15px;
      margin-left: -15px;
      font-size: 15px;
      @include flex(stretch, row, center, wrap);
    }
  }
}






