
.burgerNav {
  width: 100%;
  height: 100%;


  .burgerNavItems {
    position: absolute;
    right: 19px;
    left: 19px;
    top: 71px;
    height: 0;
    padding: 20px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    transform: translate(0,-250px);
    transition: 0.6s;

    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.035rem;
      color: #090a0c;
      margin-left: 10px;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;

      &:hover {
        color: #d9832e;
      }
    }

    .active {
      color: #d9832e;
    }
  }

  .burgerBtn {
    width: 40px;
    height: 40px;
    background-color: #d9832e;
    position: absolute;
    top: 15px;
    right: 20px;
    margin-right: 15px;

    .line{
      width: 25px;
      height: 3px;
      background: #ffffff;
      color: #ffffff;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;

    }
  }

  .show {
    transform: translate(0,0);
    height: 150px;

  }

  @media screen and (min-width: 500px) {
    display: none;
  }
}