@import "../../common/styles/sass/mixins";
.column2 {
  margin: 15px 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding: 0 15px;
  flex-wrap: nowrap;
  @include text();

  @media screen and (max-width: 992px) {
    max-width: 100%;
    flex: 100%;
  }

}