@import "../common/styles/sass/mixins";

.skillsBlock {
  min-height: 100vh;
  background-color: #eaedf2;

  .skillsContainer {
    padding-bottom: 90px;
    @include flex(center, column, flex-start, nowrap);

    .skills {
      @include flex(stretch, row, space-between, wrap);
      box-sizing: border-box;
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      @include text();
      @media screen and (max-width: 680px) {
        justify-content: center;
      }

    }
  }
}

.title {
  font-weight: 700;
  font-size: 35px;
  margin: 0 0 40px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  padding: 90px 0 10px 0;
  color: #090a0c;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;

  &::before {
    position: absolute;
    content: '';
    background: #d9832e;;
    bottom: 0;
    left: 50%;
    z-index: 0;
    width: 50px;
    height: 2px;
    transform: translate(-50%, 50%)
  }
}













