@import "../../common/styles/sass/mixins";

.project {
  width: 400px;
  text-align: center;
  padding-bottom: 90px;
  padding-right: 30px;
  @include flex(center, column, flex-start, nowrap);

  @media screen and (max-width: 1017px) {
    width: 700px;
    padding-right: 0;
  }

  .imageContainer {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    @include flex(center, column, center, nowrap);

    a {
      padding: 12px 35px;
      background-color: #eaedf2;
      text-decoration: none;
      color: #090a0c;
      border-radius: 10px;
      font-family: "Poppins", sans-serif;

      &:hover {
        background-color: #d9832e;
        opacity: 95%;
      }
    }
  }

  .des {
    background: #ffffff;
    margin: -30px 10px 0;
    position: relative;
    padding: 8px 18px 18px 18px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.19);
    display: block;
    @include text();

    .designation {
      color: #d9832e;
      font-weight: 500;
      font-size: 17px;
      margin-bottom: 0.5rem;


    }
  }
}





