.nav {
  display: flex;
  justify-content: space-between;
  width: 350px;

  a {
    text-decoration: none;
    line-height: 60px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.035rem;
    color: #090a0c;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

    &:hover {
      color: #d9832e;
    }
  }

  .active {
    color: #d9832e;
  }
  @media screen and (max-width: 400px){
    display: none;

  }
}

