@import "../common/styles/sass/mixins";

.projectsBlock {
  min-height: 100vh;
  background-color: #f8f9fa;
  padding-bottom: 30px;

  .skillsContainer {
    @include flex(center,column,flex-start,nowrap)

  }

  .projects {
    width: 100%;
    @media screen and (max-width: 1129px) {
      justify-content: center;
    }
    @include flex(flex-start,row,space-around,wrap)

  }

}


